// ----------------------
// variables
// ----------------------

$bg: #242229;
$bg2: #222027;
$surface: #35333d;

$text: #e7defc;
$subtext: #bab3c5;

$accent: #b4befe;

// ----------------------
// base
// ----------------------

body {
   background-color: $bg;
}

div {
   color: $text;
}

#bottom {
    display: flex;
}

#left {
    width: 65%;
}

#right {
    width: 35%;
}

// ----------------------
// pokemon
// ----------------------

#pokemon {
    margin-top: 20vh;
    // display: flex;
    // align-items: flex-start;
    // flex-direction: column;
}

#sprite-border {
   background-color: $surface;
   border-radius: 5px;
   border: solid 2px whitesmoke;
   width: 195px;
   height: 255px;
   box-shadow: 6px 6px 10px black;
}

#pokemon-sprite {
   min-height: 200px;
   min-width: 200px;
}

.pokemon-label {
   display: flex;
   margin-top: -2px;
   text-shadow: 2px 2px 2px black;
}

#pokemon-name {
   text-align: left;
   margin-left: 5px;
   margin-top: 2px;
   flex: 1;
}

#pokemon-caught {
    height: 30px;
    width: 30px;
    margin-top: 1px;
}

#pokemon-num {
   text-align: right;
   flex: 1;
   margin-right: 5px;
   margin-bottom: 1px;
}

#pokemon-dex {
   margin-top: 20px;
   font-style: italic;
   max-width: 250px; 
   text-shadow: 3px 3px 2px black;
}

#pokemon-percent {
   
}

#pokemon-star {
   max-height: 26px;
   max-width: 26px;
   margin-left: 1px;
   filter: invert(27%) sepia(70%) saturate(7419%) hue-rotate(344deg) brightness(95%) contrast(96%); //#d87389
}


// ----------------------
// bookmarks
// ----------------------


#bookmarks {
   display: flex;
   flex-wrap: wrap;
   margin-left: 20%;
   margin-top: 100px;
}

.shortcut {
   display: none;
   padding: 50px;
   margin: 15px;
   background-color: $surface;
   color: $text;
   border-radius: 5px;
   height: 75px;
   width: 75px;
   text-align: center;
   box-shadow: 5px 5px 10px black;
   cursor: pointer;
}

.shortcut:hover {
   background-color: $bg2;
   /* Firefox */
   -moz-transition: all 0.08s ease-in;
   /* WebKit */
   -webkit-transition: all 0.08s ease-in;
   /* Opera */
   -o-transition: all 0.08s ease-in;
   /* Standard */
   transition: all 0.08s ease-in;
}

#add-shortcut {
   display: block;
}


// ----------------------
// popup
// ----------------------


#popup {
   position: absolute;
   background-color: $surface;
   padding: 20px;
   border-radius: 5px;
   margin-left: 45vw;
   margin-top: 45vh;
   display: none;
   box-shadow: 5px 5px 10px black;
}

#popup-form {
   label {
      text-shadow: 3px 3px 2px black;
   }
   
   input {
      
   }
}

#submit-button {
   
}


// ----------------------
// popup
// ----------------------


#welcome {
   text-shadow: 3px 3px 2px black;
}